<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Object</title>
</head>
<body>
<h1>Просмотр</h1>

<div class="block">
    <p>Имя: <span th:text="${object.name}"></span></p>
    <p>ID: <span th:text="${object.id}"></span></p>
</div>

<div class="block">
    <h2 th:text="${type == 'galaxy' ? 'Планеты' : 'Галактика'}"></h2>
    <ul>
        <li th:each="item : ${type == 'galaxy' ? countries : cities}">
            <span th:text="${item.name}"></span>
            <a th:href="@{/view/item/{id}(id=${item.getId()})}" class="button button-view"><i class="fas fa-eye"></i>Просмотреть</a>
        </li>
    </ul>
</div>

<div class="block">
    <h2 th:text="${type == 'galaxy' || type == 'planet' ? 'Континенты' : 'Планета'}"></h2>
    <ul>
        <li th:each="item : ${type == 'galaxy' || type == 'planet' ? continents : planet}">
            <span th:text="${item.name}"></span>
            <a th:href="@{/view/item/{id}(id=${item.getId()})}" class="button button-view"><i class="fas fa-eye"></i>Просмотреть</a>
        </li>
    </ul>
</div>

<div class="block">>
    <h2 th:text="${type == 'city' || type == 'country' ? 'Континент' : 'Страны'}"></h2>
    <ul>
        <li th:each="item : ${type == 'city' || type == 'country' ? continent : countries}">
            <span th:text="${item.name}"></span>
            <a th:href="@{/view/item/{id}(id=${item.getId()})}" class="button button-view"><i class="fas fa-eye"></i>Просмотреть</a>
        </li>
    </ul>
</div>

<div class="block">>
    <h2 th:text="${type == 'city' ? 'Страны' : 'Города'}"></h2>
    <ul>
        <li th:each="item : ${type == 'city' ? countries : cities}">
            <span th:text="${item.name}"></span>
            <a th:href="@{/view/item/{id}(id=${item.getId()})}" class="button button-view"><i class="fas fa-eye"></i>Просмотреть</a>
        </li>
    </ul>
</div>

<button id="gohomeButton" onclick="window.location.href='/'">Вернуться на главную</button>
</body>
</html>